
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
}
.header_h1{
    margin-top: 15px;
}
.shedule{
    margin: 0 auto;
    border: black 1px solid;
    margin-top: 10px;
    width: 155px;
    display:none
    
}
#active{
    display: block;
}
.shedule_h2{
    border:  1px solid black;
    margin: 0;
    align-items: center;
    width: 100%;
    text-align: center;
}
.shedule1{

}
.nav{
    text-align: center;
    margin-top: 15px;
}
.button{
    width: 70px;
    height: 40px;
    color: white;
    font-size: 30px;
    background-color: darkcyan;
    border-radius: 10px;
    
}
.button:last-child{
    margin-left: 15px;
}
