
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
}
.header_h1{
    margin-top: 15px;
}
.shedule{
    text-align: center;
    border: black 1px solid;
    width: 100%;
    width: 155px;
    padding: 0;
    margin: 0;
}
.shedule_h2{
    border:  1px solid black;
    margin: 0;
}
.shedule1{
        
}